<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/assignment5/src/src/java/org/apache/lucene/demo/IndexFiles.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="src.java.org.apache.lucene.demo.IndexFiles"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-index /index -docs test-text-files"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="assignment5"/>
</launchConfiguration>
